user www-data;

worker_processes {{ ansible_processor_cores * ansible_processor_count }};
worker_cpu_affinity auto;
worker_rlimit_nofile 1024;


daemon on;
master_process on;

lock_file logs/nginx.lock;
pid log/nginx.pid;
error_log log/nginx-error.log error;

events {
    use epoll;
    worker_connections 1024;
    worker_aio_requests 32;
    multi_accept on;
    accept_mutex off;
    accept_mutex_delay 500ms;
}

http {
    include /usr/local/nginx/conf/mime.types;

    ##
    # Logging Settings
    #
    # $request_time 整体响应时间，单位为 秒
    # $upstream_response_time 负载均衡处理响应时间，单位为 秒
    # 请一定注意空格问题（只保留一个空格）
    ##
    log_format main '$remote_addr - $remote_user [$time_local] '
        '"$request" $status $body_bytes_sent '
        '"$http_referer" "$http_user_agent" '
        '$request_time $upstream_response_time '
        '$http_host $upstream_addr '
        '"$http_x_forwarded_for" "$http_authorization" "$http_real_ip" '
        '"$request_body"';

    access_log /var/log/nginx/access.log main;
    error_log /var/log/nginx/error.log;

    map $http_client_secret $is_valid {
        default        0;
        "{{ secret }}" 1;
    }

    server {
        server_name {{ host }};
        listen *:{{ port2 }};

        location / {
            root html
            index index.html;
        }
    }
}