# link: https://docs.ansible.com/ansible/latest/inventory_guide/intro_inventory.html

local:
  hosts:
    app:
      ansible_host: 192.168.31.129
    redis:
      ansible_host: 192.168.31.130
  vars:
    ansible_ssh_private_key_file: ~/.ssh/id_rsa
    hostname: linnzh.com

all:
  vars:
    ansible_connection: ssh
    ansible_ssh_user: root
    ansible_port: 22
    ansible_ssh_private_key_file: ~/.ssh/id_server
    ansible_ssh_pipelining: True
    ansible_python_interpreter: /usr/bin/python3
    hostname: linnzh.com
    secret: 12345678910
    detector:
      - 127.0.0.1:9100 # node_exporter
      - 127.0.0.1:9121 # redis_exporter
      - 127.0.0.1:9113 # nginx_exporter
    kibana_host: 127.0.0.1:5601
